*{
    margin: 0;
    padding: 0;
    & >div[class^=slide_]{
        position: relative;
        width: 100px;
        height: 100px;
        margin: 20px;
        overflow: hidden;
        border:1px solid #000;
        ul[class$=__container]{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            transition: left .2s;
            li{
                list-style: none;
                width: 100px;
                height: 100px;
                line-height: 100px;
                color: #000;
                text-align: center;
                font: {
                    size :30px;
                    weight: 600;
                }

                $colors : gray, salmon, thistle, cadetblue, blueviolet;
                @each $color in $colors {
                    $i: index($colors, $color);

                    &:nth-child(5n+#{$i}){
                        background:$color;
                    }
                }
            }
        }
    }
    button {
        display: block;
        border: 0;
        background-color: #eee;
        color: #000;
        padding: 10px;
        margin-left: 20px;
    }
}