[submodule "Arduino"]
	path = Arduino
	url = https://github.com/ppotatoG/Arduino.git
[submodule "bxsliderSample"]
	path = bxsliderSample
	url = https://github.com/ppotatoG/bxsliderSample.git
[submodule "bigCursor"]
	path = bigCursor
	url = https://github.com/ppotatoG/bigCursor.git
[submodule "checkbox"]
	path = checkbox
	url = https://github.com/ppotatoG/checkbox.git
